@charset "utf-8";
/* CSS Document */
* {
	padding: 0;
	margin: 0;
}
.cont{
	width: 800px;
	height: 300px;
	font-size: 12px;
	margin: 20px auto;
	background: url("../img/bg.png");
}
.form{
	padding-top: 55px;
	margin-left: 220px;
}
.satisfation>label{
	display: block;
	float: left;
	width: 100px;
	height: 45px;
}
.btn{
	padding: 10px;
	background: rgb(238,248,253);
}
.share,.evaluate{
	color:#fff;
	padding: 5px 10px;
	margin-right: 5px;
	border:none;
	background: rgb(147,180,198);
}
.evaluate{
	margin-right: 130px;
	background: rgb(229,168,106);
}



