@charset "utf-8";
/*css document*/

* {
    padding: 0;
    margin: 0
}
.outer {                        /*设置外边容器的大小以及溢出部分的显示方式为隐藏*/
    margin: 20px auto;
    overflow: hidden;
    width: 740px;
    height: 300px;
    position: relative;
}
  .img {              /*设置图片的大小*/
    width: 740px;
    height: 300px;
    display: block;
    float: left;

}

.inner {                       /*设置内部盒子的大小位置以及动画*/
    width: 3700px;
    height: 300px;
    position: absolute;
    left: 0;
    top: 0;
    animation: move 10s ease normal infinite;

}
/*自定义动画*/
@keyframes move {
    12% {left: 0px}
    25% {left: -740px}
    37% {left: -740px}
    50% {left: -1480px}
    62% {left: -1480px}
    75% {left: -2220px}
    82% {left: -2220px}
    100% {left: -2960px}
}