@charset "utf-8";
.cont {
    width: 600px;
    margin: 20px auto
}

.table2 {
    width: 450px;
    text-align: center
}

.table2 td, th {
    padding: 5px 10px;
}

input[type=text] {
    width: 120px;
}

th {
    background: #ffc50c;
}

td {
    border: 1px solid transparent;
}

table > tr:nth-child(2n+1){
    background: rgba(204, 204, 204, 0.5);
}

table > tr:nth-child(2n){
    background: rgba(228, 230, 228, 0.5);
}