@charset "utf-8";
/* CSS Document */
body {
	background: #dcdddf;
}
* {
	padding: 0;
	margin: 0;
}

.cont {
	width: 540px;
	height: 300px;
	margin: 30px auto;
	background: url("../img/bg.png");
	padding-top: 110px;
	text-align: center;
}
	form>label{
		display: block;
		height: 35px;
		width: 270px;
		margin: 20px 150px;
		border:1px solid #eae7e7;
		background: #eae7e7;
	}
	form>label img{
		width: 30px;
		vertical-align: middle;
	}
	form>label input{
		width: 225px;
		height: 34px;
		background: #eae7e7;
		border:1px solid #eae7e7;
	}
	input[type="button"]{
		width: 80px;
		height: 30px;
		border-radius: 15px;
		background: #fed475;
		margin-left: 20px;
		border:1px solid #fed475;
	}
	input[type="button"]~a{
		font-size: 14px;
		color:#0071b3;
		text-decoration: underline;
	}
