@charset "utf-8";
* {
    padding: 0;
    margin: 0;
}

.cont {
    width: 590px;
    height: 347px;
    padding: 230px 0 0 100px;
    background: url("../img/bg.jpg");
    margin: 20px auto;
}

.cont li, p {
    height: 42px;
    text-align: center;
    width: 460px;
    line-height: 42px;
}

.name, .author, .time {
    display: inline-block;
}

.name {
    width: 120px;
    text-align: left;
}

.author {
    width: 125px;
}

.time {
    width: 65px;
}